<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Merge PDFs</title>
</head>
<body>
    <h1>Merge PDFs</h1>
    <form action="/merge_pdfs/" method="post" enctype="multipart/form-data">
        <input type="file" name="pdf_files" multiple accept=".pdf">
        <input type="submit" value="Merge PDFs">
    </form>
</body>
</html>
